
.header
{
    background-color: #f8f9fa;
}
.wrapper
{
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 13vh; 
}

input
{
    padding:20px;
    border-radius:15px;

}

button{
    padding:20px;
    border-radius: 10px;
}